@{
    ViewData["Title"] = "Account";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/search.css" />
}

<div class="search">
    <h3 class="text-center">Введите номер лицевого счета</h3>
    <input id="account-id" oninput="inputAccountId(this.value)" type="text" class="form-control search-string" placeholder="Номер" value="@ViewBag.AccountId">
</div>

<div id="account-not-found" class="custom-margin-top text-center hidden">
    <b>Такого аккаунта не существует <br />Номер аккаунта должен быть в форме (0ХХХХ)</b>
</div>

<div id="account" class="hidden custom-margin-top custom-border">
    <div class="center">
        <table id="values" class="table text-center">
            <tr>
                <th colspan="2" class="text-center"><span class="table-title">Содержание дома</span></th>
            </tr>
            <tr>
                <th scope="row">Долг на начало месяца</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Оплачено</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Долг на конец месяца</th>
                <td></td>
            </tr>
            <tr>
                <th colspan="2"><span class="table-title">Вода</span></th>
            </tr>
            <tr>
                <th scope="row">Последние показания</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Оплачено</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Текущие показания</th>
                <td>
                    <div class="input-values">
                        <input id="waterValue" required pattern="[0-9]{1,5}" oninput="updateTotal()" autocomplete="off" class="form-control">
                        <span class="input-error">Введите число</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="2"><span class="table-title">Отопление</span></th>
            </tr>
            <tr>
                <th scope="row">Долг на начало месяца</th>
                <td></td>
            </tr>
            <tr>
                <th scope="row">Оплачено</th>
                <td></td>
            </tr>
            <tr id="prev">
                <th scope="row">Последние показания</th>
                <td></td>
            </tr>
            <tr id="cur">
                <th scope="row">Текущие показания</th>
                <td>
                    <div class="input-values">
                        <input id="heatingValue" required pattern="\d+(\.\d{1,3})?" oninput="updateTotal()" autocomplete="off" class="form-control">
                        <span class="input-error">Введите число</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">Долг на конец месяца</th>
                <td></td>
            </tr>
        </table>
        <p id="total">Итого к оплате: </p>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/search-account.js"></script>
}