@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        @*<a class="btn btn-outline-dark" asp-controller="Account" asp-action="GetHeatingReport">Получить отчет по отоплению</a>
        <a class="btn btn-outline-dark" asp-controller="Account" asp-action="GetWerReport">Получить отчет по содержанию дома</a>*@
    </div>

@*<div class="text-center">
    <a class="btn btn-outline-dark" asp-controller="Account" asp-action="GetAll">Просмотр всех квартир</a>
</div>*@
