.flex-container {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 2px #ccc solid;
    text-align: center;
}
.flex-container-inner {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.flex-item {
    flex-grow: 1;
    height: 100%;
    width: 50%;
}
.flex-item-inner {
    border: 2px #ccc solid;
    font-size: x-large;
    font-weight: bold;
    margin: auto;
}
.info {
    width: 90%;
    border-radius: 10px;
    padding: 2.5em 0.5em;
}
.button-inquire {
    border-radius: 40px;
    width: 65%;
    min-width: 250px;
    padding: 1em 0.5em;
    user-select: none;
}
    .button-inquire:hover {
        background-color: #e8e8f5;
        cursor: pointer;
    }

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.logo {
    height: 20%;
    width: 85%;
    object-fit: scale-down;
    object-position: left;
}

@media all and (max-width: 768px) {
    .flex-container {
        flex-direction: column-reverse;
        height: 705px;
    }
    .flex-container-inner {
        height: 350px;
    }
    .flex-item {
        height: 50%;
        width: 100%;
    }
    img {
        width: 100%;
        height: 90%;
    }
    .logo {
        object-position: center;
        height: 25%;
        width: 100%;
    }
    .flex-item-inner {
        font-size: larger;
    }
    .info {
        padding: 1em 0.5em;
    }
    .button-inquire {
        min-width: 175px;
        padding: 0.5em 0.5em;
    }
}

@media screen and (min-width: 320px) and (max-width: 960px) and (orientation: landscape) and (min-aspect-ratio: 13/9) {
    .flex-item-inner {
        font-size: larger;
    }
    .info {
        padding: 1em 0.5em;
    }
    .button-inquire {
        min-width: 175px;
        padding: 0.5em 0.5em;
    }
}