<div class="flex-container">
    <div class="flex-item">
        <div class="flex-container-inner">
            <img src="assets/min/logo-min.png" class="logo" alt="Logo">
            <div class="flex-item-inner info">
                Здесь будет публиковаться актуальная информация о коммунальных услугах
            </div>
            <div (click)="scrollToServicePage()" class="flex-item-inner button-inquire">
                Состояние оплаты и начислений
            </div>
        </div>
    </div>
    <div class="flex-item">
        <img src="assets/min/house-image-min-small.jpg" alt="Image">
    </div>
</div>