* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #f1f1f1;
}

nav {
    /*background: #343a40;*/
    background: #222;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    color: #ddd;
}

a:hover {
    text-decoration: none;
}

.menu li {
    font-size: 16px;
    padding: 10px 5px;
    white-space: nowrap;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 2;
    display: none;
}

.item.active {
    display: block;
}

.logo img {
    width: 200px;
}

/* Tablet menu */
@media all and (min-width: 768px) {
    .logo img {
        width:250px;
        padding-bottom: 10px;
    }

    .first-item {
        margin-left: 75px;
    }

    .menu {
        display: inline-flex;
        width: 75%;
    }

    .menu li {
        padding: 0px 8px;
    }

    .toggle {
        display: none;
    }

    .item {
        width: auto;
        flex: 1;
        order: 1;
        display: block;
    }
}
@media all and (max-width: 1024px) {
    .menu {
        display: inline-flex;
        width: 100%;
    }

    .first-item {
        margin-left: 10px;
    }
}