<div id="service-page" class="service-container">
    <div class="search">
        <h3 class="title-center">Введите номер лицевого счета</h3>
        <input #accId id="account-id" [(ngModel)]="accountId" (ngModelChange)="loadAccount()" type="text" class="form-control search-string" placeholder="Например - 7750">
    </div>

    <div [ngClass]="{hidden:accountFound}" id="account-not-found" class="custom-margin-top text-center hidden">
        <b>Такого аккаунта не существует <br />Номер аккаунта должен быть в форме (ХХХХ)</b>
    </div>

    <div [ngClass]="{hidden:!accountShow}" id="account" class="custom-margin-top">
        <div class="center">
            <h3 class="text-center">{{account.owner}}</h3>
            <table class="table text-center">
                <tr>
                    <th colspan="2" class="text-center"><span class="table-title">Содержание дома</span></th>
                </tr>
                <tr>
                    <th scope="row">Долг на начало месяца</th>
                    <td>{{account.currentReport.werStartState.toFixed(2)}}</td>
                </tr>
                <tr *ngIf="+account.flatNumber <= 6">
                    <th scope="row">Тариф содержания дома</th>
                    <td>{{account.house.rates.specialWerRate.toFixed(3)}}</td>
                </tr>
                <tr *ngIf="+account.flatNumber > 6">
                    <th scope="row">Тариф содержания дома</th>
                    <td>{{account.house.rates.generalWerRate.toFixed(3)}}</td>
                </tr>
                <tr>
                    <th scope="row">Начисление за содержания дома</th>
                    <td>{{account.currentReport.werForMonth.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Тариф текущего ремонта</th>
                    <td>{{account.house.rates.repairRate.toFixed(3)}}</td>
                </tr>
                <tr>
                    <th scope="row">Начисление за текущий ремонт</th>
                    <td>{{account.currentReport.repairForMonth.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Тариф вывоза мусора</th>
                    <td>{{account.house.rates.garbageRate.toFixed(3)}}</td>
                </tr>
                <tr>
                    <th scope="row">Начисление за вывоз мусора</th>
                    <td>{{account.currentReport.garbageForMonth.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Оплачено</th>
                    <td>{{account.currentReport.werPaid.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Итого начисления на конец месяца</th>
                    <td>{{account.currentReport.werEndState.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th colspan="2"><span class="table-title">Вода</span></th>
                </tr>
                <tr>
                    <th scope="row">Последние показания</th>
                    <td>{{account.currentReport.waterFixedPreviousValue}}</td>
                </tr>
                <tr>
                    <th scope="row">Текущие показания</th>
                    <td>
                        <div class="input-values">
                            <input id="waterValue" type="number" name="waterValue" #waterValue="ngModel" required pattern="[0-9]{1,5}" [(ngModel)]="account.currentReport.waterCurrentValue" (input)="updateTotal()" autocomplete="off" class="form-control">
                            <span *ngIf="waterValue.invalid && (waterValue.dirty || waterValue.touched)" class="input-error">Введите число</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Тариф</th>
                    <td>{{account.house.rates.waterRate.toFixed(3)}}</td>
                </tr>
                <tr>
                    <th scope="row">Начисление за месяц</th>
                    <td>{{account.currentReport.waterForMonth.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Оплачено</th>
                    <td>{{account.currentReport.waterPaid.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Итого начисления на конец месяца</th>
                    <td>{{account.currentReport.waterEndState.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th colspan="2"><span class="table-title">Отопление</span></th>
                </tr>
                <tr>
                    <th scope="row">Долг на начало месяца</th>
                    <td>{{account.currentReport.heatingStartState.toFixed(2)}}</td>
                </tr>
                <tr *ngIf="account.currentReport.heatingType != ''">
                    <th scope="row">Тариф</th>
                    <td>{{account.house.rates.customHeatingRate.toFixed(3)}}</td>
                </tr>
                <tr *ngIf="account.currentReport.heatingType == ''">
                    <th scope="row">Тариф</th>
                    <td>{{account.house.rates.centralHeatingRate.toFixed(3)}}</td>
                </tr>
                <tr *ngIf="account.currentReport.heatingType != ''">
                    <th scope="row">Последние показания</th>
                    <td>{{account.currentReport.heatingFixedPreviousValue.toFixed(3)}}</td>
                </tr>
                <tr *ngIf="account.currentReport.heatingType != ''">
                    <th scope="row">Текущие показания</th>
                    <td>
                        <div class="input-values">
                            <input id="heatingValue" type="number" step="0.001" name="heatingValue" #heatingValue="ngModel" required pattern="\d+(\.\d{1,3})?" [(ngModel)]="account.currentReport.heatingCurrentValue" (input)="updateTotal()" autocomplete="off" class="form-control">
                            <span *ngIf="heatingValue.invalid && (heatingValue.dirty || heatingValue.touched)" class="input-error">Введите число</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Начисление за месяц</th>
                    <td>{{account.currentReport.heatingForService.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Оплачено</th>
                    <td>{{account.currentReport.heatingPaid.toFixed(2)}}</td>
                </tr>
                <tr>
                    <th scope="row">Итого начисления на конец месяца</th>
                    <td>{{account.currentReport.heatingEndState.toFixed(2)}}</td>
                </tr>
            </table>
            <p id="total">Итого к оплате: {{account.currentReport.total.toFixed(2)}} грн.</p>
            <p class="text-center" style="color: red;">При оплате коммунальных услуг через банк в обязательном порядке указать адрес!</p>
        </div>
    </div>
</div>