<div class="flex-container">
    <div class="flex-item">
        <div class="item-elem">
            <img src="assets/min/footer/phone-min.png" class="footer-img" alt="Phone">
            <div class="info">048-703-10-71</div>
        </div>
        <div class="item-elem">
            <img src="assets/min/footer/location-min.png" class="footer-img" alt="Location">
            <div class="info">Пишоновская, 22/1</div>
        </div>
    </div>
    <div class="flex-item">
        <div class="item-elem">
            <img src="assets/min/footer/email-min.png" class="footer-img" alt="Email">
            <div class="info">
                <a href="mailto:komfort24odessa@gmail.com">komfort24odessa@gmail.com</a>
            </div>
        </div>
        <div class="item-elem">
            <img src="assets/min/footer/shedule-min.png" class="footer-img" alt="Shedule">
            <div class="info">Будние дни 09.00 - 17.00 </div>
        </div>
    </div>
    <div class="flex-item">
        <img src="assets/min/footer/bank-min.png" class="footer-img" alt="Phone">
        <div class="info info-last">Для оплаты через банк : UA943510050000026004560624200</div>
    </div>
</div>